body{
  margin: 0;
  font-family: monospace,"Courier New", Courier, "Lucida Console", Monaco, "Roboto Mono", Menlo, Consolas;
  /* font-family: monospace; */
  color: rgb(255, 255, 255);
  background-color: black;
  font-size: 14px;
}
@media (min-width: 300px) and (max-width: 512px) {
  .flip-Home{
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    height: 100vh;
  } 
  .nav{
    background-color: rgb(49, 99, 192);
    text-align: center;
    padding: 5px 0px;
  }
  .homenav{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding:0 10px;
  }
  .homenav>div{
    max-width: 50px;
    padding: 3px 5px;
  }
  #connect-wallet{
    border: 1px solid rgba(255, 255, 255, 0.425);
    font-size: 10px;
    max-width: 40px;
    border-radius: 2px;
  }
  #token-value{
    border: 1px solid rgb(49, 99, 192);
    font-size: 20px;
  }
  .HeadTail{
    display:flex;
    margin-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sub-decision{
    font-size: 16px;
    margin-top:15px;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.425);
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.425); 
    color:white;
    justify-content: space-between;
    border-radius: 7px;
  }
  .headslct{
    background-color: rgb(49, 99, 192);
    padding: 17px 40px 17px 40px;
    border-radius: 8px 0px 0px 8px;
  }
  .tailslct{
    padding: 17px 40px 17px 40px;
    border-radius: 0px 8px 8px px;
  }
  .flexInputval{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
  }
  .input-value{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    border: 1px solid rgba(255, 255, 255, 0.425) ;
    border-radius: 10px ;
  }
  .sub-input{
    display: flex;
    gap: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .sub-input>div{
    background-color:rgb(49, 99, 192);
    width: 35px;
    padding: 7px 8px;
    border-radius: 5px ;
    text-align: center;
  }
  .flip-it{
    margin-top: 7%;
    display: flex;
    justify-content: center;
  }
  .flipdc{
    background-color:rgba(255, 255, 255, 0.425);
    width: 250px;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
  }
  .text{
    margin-top: 3%;
    font-size: 16px;
  }
  .tokenCheck{
    display: none;
  }
  /* .external{
      
  } */
}
@media (min-width: 513px) and (max-width: 1700px) {
  .flip-Home,.tokenCheck,.imgToken{
    display: none;
  }
  .desktopview{
    color: white;
  }
}
